{%if build_unsigned%}
lib/modules/{{abiname}}{{localversion}}/vmlinuz.unsigned  usr/lib/modules/{{abiname}}{{localversion}}
{%else%}
lib/modules/{{abiname}}{{localversion}}/vmlinuz  usr/lib/modules/{{abiname}}{{localversion}}
{%endif%}
